*{
    margin: 0;
    padding: 0;
}
/* head nav*/

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color:rgb(204, 199, 192);
    padding:  60px 100px 0px 100px;
}
.head-photo img{
    width: 320px;
    height: 440px;
    padding-right: 30px;
}
.text h1{
    font-size: 40px;
}
.btn{
    padding: 12px 40px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 0;

}
.text p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text{
    padding-bottom: 50px;
}
/* section 1*/
.title{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 20px;
}
.photo{
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 50px;
}
.full1{
    background-color: rgb(232, 203, 207);
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 200px 200px 0 0;
}
.full1 img{
    height: 300px;
}
.full2{
    background-color: rgb(179, 228, 232);
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 200px 200px 0 0;
}
.full2 img{
    width: 220px;
    height: 300px;

}
.full3{
    background-color: rgb(247, 163, 174);
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 200px 200px 0 0;
}
.full3 img{
    height: 300px;
}
h4{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}
/*section 2*/
.section2{
    display: flex;
    gap: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(224, 220, 220);
    padding: 20px 30px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 60px;
}
.icon{
    text-align: center;
}
/* section3 */
.section3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 228, 226);
    padding: 70px 140px;
}
span{
    color: red;
}
.section-text{
    text-align: center;
}
.section-text p{
    margin-top: 10px;
}

/* main part */

.main-title{
    text-align: center;
    padding: 20px 0;
}
.insta-photo{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 200px;
}
.pic img{
    height: 240px;
    width: 220px;
}
hr{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}
/* baground image par */
.main{
    background-image: url('./bg.png');
    background-color: #cccccc;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-text h1{
    font-size: 40px;
}
.hero-text p{
    padding: 10px;
}
.hero-text input{
    padding: 15px 50px;
    border: 0;
    border-radius: 7px;
    background-color: white;
}
.btnl{
    padding: 15px 40px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 0;
    margin-left: 5px;
}
/* fotter part */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgb(41, 38, 38);
    padding: 60px 200px;
    color: white;
}
.footer h5{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 15px;
}
.footer h1{
    font-family: 'Caprasimo', cursive;
}